<div class="alert alert-danger" role="alert" ng-show="errorMessage !== null">
    <strong>Wystąpił błąd.</strong>
    {{ errorMessage }}
</div>
<form role="form" novalidate name="createOrEditLineForm" ng-submit="submitForm()">
    <input type="hidden" ng-model="id" />
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group" ng-class="{'has-error': createOrEditLineForm.name.$invalid && createOrEditLineForm.name.$dirty}">
                <label for="name">Nazwa</label>
                <input type="text" required class="form-control" name="name" id="name" placeholder="np. Nazwa Przewoźnika Justynów" ng-model="line.name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-success" ng-disabled="createOrEditLineForm.$invalid">
                {{ isNewAction ? "Przejdź dalej" : "Zapisz zmiany" }}
            </button>
        </div>
    </div>
</form>