<div class="alert alert-danger" role="alert" ng-show="errorMessage !== null">
    <strong>Wystąpił błąd.</strong>
    {{ errorMessage }}
</div>
<form role="form" novalidate name="createOrEditLineForm" ng-submit="submitForm()">
    <input type="hidden" ng-model="id" />
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group" ng-class="{'has-error': createOrEditLineForm.name.$invalid && createOrEditLineForm.name.$dirty}">
                <label for="name">Nazwa</label>
                <input type="text" 
                       required 
                       class="form-control" 
                       name="name" 
                       id="name" 
                       placeholder="np. Nazwa Przewoźnika Justynów lub symbol danej linii 98" 
                       ng-model="line.name">
                <p class="help-block">
                    Dowolna nazwa pomagająca Ci jednoznacznie zindentyfikować linię.
                    Nie będzie ona widoczna dla pasażerów.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <label for="name">Symbol</label>
            <div ng-repeat="variant in line.variants"
                 ng-form="singleVariantForm"
                 class="form-group"
                 ng-class="{'has-error': singleVariantForm.symbol.$invalid && singleVariantForm.symbol.$dirty}">
                <div class="input-group"
                     ng-show="line.variants.length > 1">
                    <input type="text"
                           required
                           class="form-control"
                           name="symbol"
                           placeholder="np. 98 lub 410A"
                           ng-model="line.variants[$index].symbol">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="removeVariant($index)">
                            Usuń
                        </button>
                    </div>
                </div>
                <input ng-show="line.variants.length < 2"
                       type="text"
                       required
                       class="form-control"
                       name="symbol"
                       placeholder="np. 98 lub 410A"
                       ng-model="line.variants[0].symbol">
            </div>
            <p class="help-block">
                Symbol to identyfikator danej linii. Jeśli autobusy kursują po kilku wariantach trasy
                (np. 98, 98A, 98B) użyj przycisku <em>Dodaj kolejny wariant</em>, aby wprowadzić każdy z nich.
            </p>
            <button type="button"
                    ng-click="addVariant()"
                    class="btn btn-success">
                Dodaj kolejny wariant
            </button>
        </div>
    </div>
</form>