<button type="button" ng-click="goToAddLine()" class="btn btn-primary">Dodaj</button>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-repeat="line in lines">
        <tr class="active">
            <td colspan="2"><strong>{{ line.name }}</strong></td>
            <td class="text-right">
                <a ng-href="#lines/createOrEdit/{{ line.id }}"
                   class="btn btn-sm btn-default">
                    Informacje i warianty
                </a>
                <a ng-click="removeLine(line)"
                   class="btn btn-sm btn-default">
                    Usuń
                </a>
            </td>
        </tr>
        <tr ng-repeat="variant in line.variants">
            <td>
                    {{ variant.symbol }}
            </td>
            <td>
                {{ variant.description }}
            </td>
            <td class="text-right">
                <a ng-href="#departures/createOrEdit/{{ variant.id }}"
                   class="btn btn-sm btn-default">
                    Godziny odjazdów
                </a>
                <a ng-href="#variantStops/createOrEdit/{{ variant.id }}"
                   class="btn btn-sm btn-default">
                    Przystanki na trasie
                </a>
                <a ng-click="removeVariant(line, variant)"
                   class="btn btn-sm btn-default">
                    Usuń
                </a>
            </td>
        </tr>
    </tbody>
</table>
