<button type="button" ng-click="goToAddLine()" class="btn btn-default btn-sm">Dodaj</button>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-repeat="line in lines">
        <tr class="info">
            <td><strong>{{ line.name }}</strong></td>
            <td class="text-right">
                <a ng-href="#variants/addToLine/{{ line.id }}"
                   class="btn btn-xs btn-default disabled">
                    Dodaj wariant
                </a>
                <a ng-href="#lines/createOrEdit/{{ line.id }}"
                   class="btn btn-xs btn-default">
                    Edytuj podstawowe informacje
                </a>
                <a ng-click="removeLine(line)"
                   class="btn btn-xs btn-default">
                    Usuń
                </a>
            </td>
        </tr>
        <tr ng-repeat="variant in line.variants">
            <td>
                    {{ line.name }}{{ variant.symbol }}
            </td>
            <td class="text-right">
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-xs btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-expanded="false">
                        Edytuj... <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li>
                            <a ng-href="#variants/createOrEdit/{{ variant.id }}"
                               class="disabled">
                                Podstawowe informacje
                            </a>
                        </li>
                        <li>
                            <a ng-href="#departures/createOrEdit/{{ variant.id }}"
                               class="disabled">
                                Godziny odjzadów
                            </a>
                        </li>
                        <li>
                            <a ng-href="#variantStops/createOrEdit/{{ variant.id }}"
                               class="disabled">
                                Przystanki na trasie
                            </a>
                        </li>
                    </ul>
                </div>
                <a ng-click="removeVariant(line, variant)"
                   class="btn btn-xs btn-default">
                    Usuń
                </a>
            </td>
        </tr>
    </tbody>
</table>
