<div class="alert alert-danger" role="alert" ng-show="errorMessage !== null">
    <strong>Wystąpił błąd.</strong>
    {{ errorMessage }}
</div>
<form role="form" novalidate name="createOrEditDeparturesForm" ng-submit="submitForm()">
    <input type="hidden" ng-model="id" />
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group" ng-class="{'has-error': createOrEditDeparturesForm.departure.$invalid && createOrEditDeparturesForm.departure.$dirty}">
                <label for="departure">Odjazd</label>
                <input type="text"
                       ng-pattern="/^(\d){1,2}:(\d){2}$/"
                       required
                       class="form-control"
                       name="departure"
                       id="departure"
                       placeholder="np. 12:35"
                       ng-model="form.rawDeparture">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="btn-group">
                <input type="button"
                       class="btn btn-default"
                       ng-class="{active: form.isValidOnMonday, 'btn-warning': form.isValidOnMonday}"
                       ng-click="form.isValidOnMonday=!form.isValidOnMonday"
                       value="Pn" />
                <input type="button"
                       class="btn btn-default"
                       ng-class="{active: form.isValidOnTuesday, 'btn-warning': form.isValidOnTuesday}"
                       ng-click="form.isValidOnTuesday=!form.isValidOnTuesday"
                       value="Wt" />
                <input type="button"
                       class="btn btn-default"
                       ng-class="{active: form.isValidOnWednesday, 'btn-warning': form.isValidOnWednesday}"
                       ng-click="form.isValidOnWednesday=!form.isValidOnWednesday"
                       value="Śr" />
                <input type="button"
                       class="btn btn-default"
                       ng-class="{active: form.isValidOnThursday, 'btn-warning': form.isValidOnThursday}"
                       ng-click="form.isValidOnThursday=!form.isValidOnThursday"
                       value="Cz" />
                <input type="button"
                       class="btn btn-default"
                       ng-class="{active: form.isValidOnFriday, 'btn-warning': form.isValidOnFriday}"
                       ng-click="form.isValidOnFriday=!form.isValidOnFriday"
                       value="Pt" />
                <input type="button"
                       class="btn btn-default"
                       ng-class="{active: form.isValidOnSaturday, 'btn-warning': form.isValidOnSaturday}"
                       ng-click="form.isValidOnSaturday=!form.isValidOnSaturday"
                       value="Sb" />
                <input type="button"
                       class="btn btn-default"
                       ng-class="{active: form.isValidOnSunday, 'btn-warning': form.isValidOnSunday}"
                       ng-click="form.isValidOnSunday=!form.isValidOnSunday"
                       value="Nd" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-info" ng-disabled="createOrEditDeparturesForm.$invalid">Dodaj powyższą godzinę odjazdu (Enter)</button>
            lub
            <button type="button" class="btn btn-success" ng-click="proceed()">Przejdź dalej</button>
        </div>
    </div>
</form>
<ul>
    <li ng-repeat="departure in variant.departures">
        {{ departure.hour }}:
        {{ departure.minute }}
        {{ departure.symbol }}
        {{ departure.isValidOnMonday ? "1" : "0" }}
        {{ departure.isValidOnTuesday ? "1" : "0" }}
        {{ departure.isValidOnWednesday ? "1" : "0" }}
        {{ departure.isValidOnThursday ? "1" : "0" }}
        {{ departure.isValidOnFriday ? "1" : "0" }}
        {{ departure.isValidOnSaturday ? "1" : "0" }}
        {{ departure.isValidOnSunday ? "1" : "0" }}
        <input type="button" ng-click="removeDeparture($index)" value="x" />
    </li>
</ul>