<div class="alert alert-danger" role="alert" ng-show="errorMessage !== null">
    <strong>Wystąpił błąd.</strong>
    {{ errorMessage }}
</div>

<form role="form" novalidate ng-submit="submitForm()" name="rawDepartureForm">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <table class="table table-bordered table-timetable table-condensed table-striped">
                <thead>
                    <tr>
                        <th colspan="2">Od poniedziałku do piątku</th>
                        <th colspan="2">Soboty</th>
                        <th colspan="2">Niedziele</th>
                    </tr>
                    <tr>
                        <th>Godz.</th>
                        <th>Minuty</th>
                        <th>Godz.</th>
                        <th>Minuty</th>
                        <th>Godz.</th>
                        <th>Minuty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="hour in hoursArray">
                        <td>{{ hour }}</td>
                        <td>
                            <span ng-repeat="singleDeparture in variant.departures | filter:{hour:hour}:true | filter:isValidOnWorkdaysFilter | orderBy:'minute'"
                                  class="label"
                                  ng-class="{'label-default': singleDeparture.id >
                                        0, 'label-success': singleDeparture.id < 1}">
                                <span>
                                    {{ singleDeparture.minute < 10 ? "0" + singleDeparture.minute : singleDeparture.minute }}
                                    <span ng-repeat="explanation in singleDeparture.explanations">{{explanation.abbreviation}}</span>
                                </span>
                                <span ng-click="removeDeparture(singleDeparture)">
                                    &nbsp;x&nbsp;
                                </span>
                            </span>
                        </td>
                        <td>{{ hour }}</td>
                        <td>
                            <span ng-repeat="singleDeparture in variant.departures | filter:{hour:hour, isValidOnSaturday:true}:true | orderBy:'minute'"
                                  class="label"
                                  ng-class="{'label-default': singleDeparture.id >
                                        0, 'label-success': singleDeparture.id < 1}">
                                <span>
                                    {{ singleDeparture.minute < 10 ? "0" + singleDeparture.minute : singleDeparture.minute }}
                                    <span ng-repeat="explanation in singleDeparture.explanations">{{explanation.abbreviation}}</span>
                                </span>
                                <span ng-click="removeDeparture(singleDeparture)">
                                    &nbsp;x&nbsp;
                                </span>
                            </span>
                        </td>
                        <td>{{ hour }}</td>
                        <td>
                            <span ng-repeat="singleDeparture in variant.departures | filter:{hour:hour, isValidOnSunday:true}:true | orderBy:'minute'"
                                  class="label"
                                  ng-class="{'label-default': singleDeparture.id >
                                        0, 'label-success': singleDeparture.id < 1}">
                                <span>
                                    {{ singleDeparture.minute < 10 ? "0" + singleDeparture.minute : singleDeparture.minute }}
                                    <span ng-repeat="explanation in singleDeparture.explanations">{{explanation.abbreviation}}</span>
                                </span>
                                <span ng-click="removeDeparture(singleDeparture)">
                                    &nbsp;x&nbsp;
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodaj nowy</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="isValidOnWorkdays"> Od poniedziałku do piątku
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="isValidOnSaturday"> Soboty
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="isValidOnSunday"> Niedziele
                            </label>
                        </div>
                        <p class="help-block">
                            Wybierz dni, w które będzie obowiązywał wprowadzany odjazd z przystanku krańcowego.
                        </p>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': rawDepartureForm.rawDeparture.$invalid && rawDepartureForm.rawDeparture.$dirty}">
                        <div class="input-group">
                            <input type="text"
                                   value=""
                                   class="form-control"
                                   name="rawDeparture"
                                   placeholder="np. 6:20 lub 11:57K"
                                   ng-model="rawDeparture"
                                   required
                                   ng-pattern="/^(0?[0-9]|1[0-9]|2[0-3]):([0-5][0-9])[A-Z]{0,9}$/" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success" ng-disabled="rawDepartureForm.rawDeparture.$invalid">
                                    Dodaj
                                </button>
                            </span>
                        </div>
                        <p class="help-block">
                            Wpisz godzinę odjazdu wraz z literami objaśnień a następnie naciśnij klawisz Enter.
                            Jeśli użyjesz nieznanego objaśnienia, system zaproponuje jego utworzenie.
                        </p>
                    </div>

                    <div class="form-group form-group-scrollable">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        Dotychczas używane objaśnienia
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="explanation in explanations"
                                    ng-class="{warning: rawDepartureForm.rawDeparture.$viewValue.indexOf(explanation.abbreviation) > -1}">
                                    <td ng-click="toggleAbbreviation(explanation.abbreviation)">
                                        {{explanation.abbreviation}}
                                    </td>
                                    <td>
                                        <span ng-click="toggleAbbreviation(explanation.abbreviation)">
                                            {{explanation.definition}}
                                        </span>
                                        <div class="btn-group  pull-right"
                                             ng-if="explanation.id < 1">
                                            <button type="button"
                                                    class="btn btn-xs btn-link"
                                                    ng-click="changeExplanation(explanation)">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </button>
                                            <button type="button"
                                                    class="btn btn-xs btn-link"
                                                    ng-click="removeExplanation(explanation)">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
   
                </div>
            </div>
        </div>
    </div>
</form>