h1 {
    font-weight: 300;
}



.btn-tile {
    border-radius: 0;
    width: 240px;
    height: 100px;
    text-align: left;
    position: relative;
}

    .btn-tile small {
        display: block;
        margin-top: 10px;
        white-space: normal;
    }


.form-control, input {
    border-width: 1px;
}