@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<nav class="sidebar">
    <a ng-class="{invisible: !Page.isProceedVisible() }"
       ng-click="Page.proceed.action()"
       ng-href="{{ Page.proceed.url }}">
        <i class="glyphicon glyphicon-floppy-disk"></i>
        {{ Page.proceed.title }}
    </a>
    <a ng-class="{invisible: !Page.isCancelVisible() }"
       ng-click="Page.cancel.action()"
       ng-href="{{ Page.cancel.url }}">
        <i class="glyphicon glyphicon-remove"></i>
        {{ Page.cancel.title }}
    </a>
    <a ng-class="{invisible: !Page.isBackVisible() }"
       ng-click="Page.back.action()"
       ng-href="{{ Page.back.url }}">
        <i class="glyphicon glyphicon-chevron-left"></i>
        {{ Page.back.title }}
    </a>
    <a href="@Url.Action("LogOff", "Account")">
        <i class="glyphicon glyphicon-log-out"></i>
        Wyloguj się
    </a>
</nav>
<section>
    <div class="content" ng-class="{pending: Page.pendingRequestsCount > 0}">
        <h1 class="page-title">
            {{ Page.title }}
        </h1>
        <div class="alert alert-info alert-pending">Chwilkę</div>
        <div ng-view></div>
    </div>
</section>
