<div class="alert alert-danger" role="alert" ng-show="errorMessage !== null">
    <strong>Wystąpił błąd.</strong>
    {{ errorMessage }}
</div>
<form role="form" name="rawVariantStopForm" ng-submit="submitForm()">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Nazwa przystanku</th>
                        <th>Czas dojazdu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="variantStop in variantStops | orderBy:'timeOffset'">
                        <td>
                            {{ variantStop.stop.name }}
                        </td>
                        <td>
                            {{variantStop.timeOffset}}
                        </td>
                        <td>
                            <button ng-click="removeVariantStop(variantStop)"
                                    type="button"
                                    class="btn btn-xs btn-danger">
                                x
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodaj nowy</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group"
                         ng-class="{'has-success': rawVariantStopForm.rawVariantStop.$valid && rawVariantStopForm.rawVariantStop.$dirty}">
                        <div class="input-group">
                            <input type="text"
                                   ng-model="rawVariantStop"
                                   name="rawVariantStop"
                                   class="form-control"
                                   required
                                   ng-keydown="handleKeyDown($event)"
                                   ng-pattern="/^(([a-z]|[A-Z]|[ąęółżźćńśĄĘÓŁŻŹĆŃŚ]|[0-9]|[\\\/ \-()\[\]\{\}\.\,#]){3,100})( )[0-9]{1,3}m$/"
                                   placeholder="np. Łódzka/Główna 2m lub Rokicińska 23 5m" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success" ng-disabled="rawVariantStopForm.rawVariantStop.$invalid">
                                    Dodaj
                                </button>
                            </span>
                        </div>
                        <p class="help-block">
                            Wpisz nazwę przystanku oraz ilość minut potrzebnych autobusowi do dojazdu, a następnie naciśnij klawisz Enter.
                            Jeśli nazwy nieznanego przystanku, system zaproponuje jego utworzenie.
                        </p>
                    </div>
                    <div class="form-group form-group-scrollable"
                         ng-show="stops.length > 0">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Dotychczas używane nazwy przystanków</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="stop in stops"
                                    ng-class="{warning: rawVariantStopForm.rawVariantStop.$viewValue.indexOf(stop.name) > -1}">
                                    <td>
                                        {{ stop.name }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>