<div class="alert alert-danger" role="alert" ng-show="errorMessage !== null">
    <strong>Wystąpił błąd.</strong>
    {{ errorMessage }}
</div>
<form role="form" novalidate name="createOrEditVariantStopForm" ng-submit="submitForm()">
    <input type="hidden" ng-model="id" />
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group" ng-class="{'has-error': createOrEditVariantStopForm.name.$invalid && createOrEditVariantStopForm.name.$dirty}">
                <label for="name">Nazwa przystanku czas</label>
                <input type="text" 
                       class="form-control" 
                       name="rawVariantStop" 
                       id="name" 
                       placeholder="np. Łodzka/Główna 14"
                       ng-model="rawVariantStop"
                       ng-pattern="/^(.)*( )(\d)+$/">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary" ng-disabled="createOrEditVariantStopForm.$invalid">Zapisz</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa przystanku</th>
            <th>Czas dojazdu</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="variantStop in variantStops">
            <td>{{ variantStop.stop.name }}</td>
            <td>{{ variantStop.timeOffset }}</td>
            <td>
                <button type="button"
                        ng-click="removeVariantStop($index)">
                    x
                </button>
            </td>
        </tr>
    </tbody>
</table>